h1.text-center {
  text-align: center;
}

h1 {
  color: #DBC2CF;
  margin-top: 10px;
  
}

h2.text-center {
  text-align: right;
}

h2 {
  color: #639FAE;
}

h3 {
  color: #003a66;
  text-align: left;
  font-size: 2px;
}

h4 {
  color: #003a66;
  text-align: left;
}


.top-image {
  text-align: center;
 

}


.top-image img:hover {
color: rgb(62,96,123);
transition: 0.30s ease-out;
}

.top-image img {
  border-color: #e8f3fc;

}

img {
  height: auto;
  max-width: 100%;
  display:block;  
}

/*
header > img {
  border-color: 6px dotted rgb(114, 19, 192);
}
*/

header img:hover {
  border-color: rgb(62,96,123);
}

/*
div {
  padding: 25px 50px 75px 100px;
}


a {
  text-decoration: none;
  color: #000;
}


a:hover {
  color: red; 
}
*/

.tags span {
  border: 1px solid #375f79;
  color: #375f79;
  padding: 5px 8px;
  display: inline-block;
  margin: 2px;
  border-radius: 8px;
  font-size: 0.8rem;
}

.top-container {
  background-image: url("texture-gfc5b1efe3_1920.jpg");
  background-size: cover;
  position: relative;
}

.experience-pic {
  background-image: url("texture-gfc5b1efe3_1920.jpg");
  background-size: cover;
  position: relative;
}
.top-hero {
  background: rgba(#9cabc3, 0.192);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.featurette-divider {
  margin: 5rem 0;
}

hr {
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

/*
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
*/

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.lead-2 {
  font-size: 1.50rem;
  font-weight: 400;
  color: #003a66;
  

}



p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: x-large;
  transition: ease-in 0.3s;
  color:#090e13;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.g-5,
.gy-5 {
  --bs-gutter-y: 3rem;
}

.g-5,
.gx-5 {
  --bs-gutter-x: 3rem;
}

/* unvisited link */
a:link,
i:link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}


/* mouse over link */
a:hover,
i:hover
{
  text-decoration: none;
  color: rgb(62,96,123);
  transition: 0.30s ease-out;

}

/* selected link */
a:active,
i:active {
  text-decoration: none;
  color: rgb(62,96,123);
 
}

i {
  color: rgb(255, 255, 255);  
}

.button {
  background-color: #DBC2CF; /* Green */
  border: none;
  color: #2E4756;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width:309px;
  border-radius: 4px;
}

.button1 {
  background-color: #2E4756; 
  color: white; 
  border-radius: 4px;
  border: 2px solid #DBC2CF;
  
}

.button1:hover {
  background-color: #DBC2CF;
  border-radius: 4px;
  color: black;
}






/*

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
}
/*

